@tailwind base;
@tailwind components;
@tailwind utilities;
/* Your custom styles here */

.stock-checker-input {
    /* Basic styling */
    width: 75%;
    padding: 6px 15px !important;
    box-sizing: border-box;

    /* Typography */
    font-size: 16px;
    color: #333;

    /* Borders and background */
    border: 2px solid #ddd; /* Light grey border */
    border-radius: 6px 0 0 6px!important; /* Rounded corners */
    background-color: #fff; /* White background */

    /* Transition for smooth effect on focus */
    transition: border-color 0.3s, box-shadow 0.3s;

    /* A subtle shadow for depth (optional) */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.stock-checker-input:focus, .price-checker-input:focus {
    /* Changes when the input is focused */
    outline: none; /* Removes default focus outline */
    border-color: #d946ef!important; /* A brighter border color on focus, you can choose any color */
    box-shadow: 0 0 5px rgba(217, 70, 239, 1); /* Glowing effect on focus */
}

.price-checker-input {
    /* Basic styling */
    width: 100%;
    padding: 6px 15px !important;
    box-sizing: border-box;

    /* Typography */
    font-size: 16px;
    color: #333;

    /* Borders and background */
    border: 2px solid #ddd; /* Light grey border */
    border-radius: 6px!important; /* Rounded corners */
    background-color: #fff; /* White background */

    /* Transition for smooth effect on focus */
    transition: border-color 0.3s, box-shadow 0.3s;

    /* A subtle shadow for depth (optional) */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}